body {
  background-color: #f2f4f7 !important ; 
  padding: 0 ;
  margin: 0;
}
.box-head{
  margin-bottom: 1rem;
  padding: 0.5rem;
  min-height: 80px;
  display: inline;
  border-radius: 2px;
  border: 3px solid #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
}
.cog{
  /* line-height: 10px; */
  color: #fff;
  font-weight: 900;
  background-color: #17a2b8;
  width: 100px;
  height: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cog, .tie, .graduate{
  /* line-height: 10px; */
  color: #fff;
  font-weight: 900;
  background-color: #17a2b8;
  width: 100px;
  height: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* .info-box{
  display: inline;
} */
.box-head-1, .box-head-2, .box-head-3{
  min-height: 20vh;
  border-top: 3px solid #17a2b8;
  /* box-shadow: 2px 2px 5px #fff; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  text-align: center;
  padding: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.box-head-2{
  border-top: 3px solid green;
}
.box-head-3{
  border-top: 3px  solid rgb(227, 82, 82);
}
h3{
  font-size: 28px;
  color: #6c757d;
}
.icon-2{
  color: #6c757d;
  margin-bottom: 1rem;
}
.react-calendar{
  width: fit-content !important ;
}
.topbar{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 5px !important ; 
  width: auto !important ;
}
.sub{
  justify-content: end !important ;
  margin-right: 20px;
}
hr{
  color: #17a2b8 !important ;
  opacity: 1 !important ;
}
button{
  border: none;
}
.search-box{
  /* display: flex; */
  float: right;
}
input{
  margin-left: 0.5em !important ;
  width: auto !important ;
}
.navbar{
  padding:0px  !important ;
}
.nav-link{
  padding-right: 10px !important ;
}

@media(min-width: 992px){
  .sub{
    justify-content: end !important ;
    width: 150vh;
    margin-right: 20px;
  }
  }
@media(max-width: 768px){
  .box-head, .box-head-1, .box-head-2, .box-head-3, .react-calendar {
    width: 80% !important ;
  }
  .sub{
    width:100% ;
  }
}
/* menu bar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 150px;
  background: #050a30; 
  /* background: -webkit-linear-gradient(to right, #004e92, #000428); 
  background: linear-gradient(to right, #004e92, #000428); */
  /* z-index: 100; */
  transition: all 0.5s ease;
}
.sidebar.close {
  width: 30px;
}
/* .sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
} */
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 200;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  height: 100%;
  /* padding: 0 0 150px 0; */
  /* overflow: auto; */
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  color: #1d1b31;
}
.sidebar .nav-links li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .icon-link {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
/* .sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
} */
.sidebar .nav-links li .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff !important ;
  transition: all 0.4s ease;
}
/* .sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
} */
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
  color: #fff;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  /* pointer-events: none; */
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.home-section {
  /* position: relative; */
  background: #e4e9f7;
  /* height: 100vh; */
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
