body {
  background-color: #f2f4f7 !important ; 
  padding: 0;
  margin: 0;
}
.box-head{
  margin-bottom: 1rem;
  padding: 0.5rem;
  min-height: 80px;
  display: inline;
  border-radius: 2px;
  border: 3px solid #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
}
.cog{
  /* line-height: 10px; */
  color: #fff;
  font-weight: 900;
  background-color: #17a2b8;
  width: 100px;
  height: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cog, .tie, .graduate{
  /* line-height: 10px; */
  color: #fff;
  font-weight: 900;
  background-color: #17a2b8;
  width: 100px;
  height: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* .info-box{
  display: inline;
} */
.box-head-1, .box-head-2, .box-head-3{
  min-height: 20vh;
  border-top: 3px solid #17a2b8;
  /* box-shadow: 2px 2px 5px #fff; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  text-align: center;
  padding: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.box-head-2{
  border-top: 3px solid green;
}
.box-head-3{
  border-top: 3px  solid rgb(227, 82, 82);
}
h3{
  font-size: 28px;
  color: #6c757d;
}
.icon-2{
  color: #6c757d;
  margin-bottom: 1rem;
}
.react-calendar{
  width: fit-content !important ;
}
.topbar{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 10px; 
}
.sub{
  justify-content: end !important ;
  width: 170vh;
}
hr{
  color: #17a2b8 !important ;
  opacity: 1 !important ;
}
button{
  border: none;

}